* {margin: 0;padding: 0;}

body{font-family: 'Montserrat', sans-serif;}

#page {
    min-height: 200px;
    width: 60%;
    min-width: 600px;
    background: whitesmoke;
    margin: 50px auto;
    padding: 30px;
    color: #151616;
}

.photo-and-name {
    /* NO STYLE NEEDED YET */
}

.photo {
    width: 15%;
    min-width: 130px;
    float: left;
    margin-right: 20px;
}

.contact-info-box {
    width: 70.9%;
    display: inline-block;
}

.name {
    margin-bottom: -5px;
}
.job-title {
    display: inline-block;
}

.contact-details {
    background: #293d94;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
}

#biography {
    
}

#biography h3 {
    border: 1px solid #f00606;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#biography p {
    padding: 0 5px;
    line-height: 25px;
    font-size: 14px;
    color: #000;
}

#skills h3 {
    border: 1px solid #5548ca;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#skills table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
}

#skills table tr.sk-1 td:first-child {
    width: 120px;
    color: gray;
    padding-bottom: 25px;
}

#skills table tr.sk-2 td:first-child {
    padding-bottom: 25px;
}

#suit h3 {
    border: 1px solid #41d662;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#suit table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
}

#suit table tr.suit-1 td:first-child {
    width: 120px;
    color: gray;
    padding-bottom: 25px;
}

#suit table tr.suit-1 td {
    padding-bottom: 25px;
}

#suit table tr.suit-2 td:first-child {
    width: 120px;
    color: gray;
}

#tech h3 {
    border: 1px solid #e0f330;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#tech table td {
    padding: 8px;
    font-size: 15px;
    color: #000;
}

#tech table tr td:first-child {
    width: 200px;
}

#tech table tr td:nth-child(2) {
    width: 300px;
}